* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    cursor: url(../img/cursor.svg), auto;
}

.body,
button,
select,
input {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 1024px;
    background-image: linear-gradient(180.00deg, rgba(0, 0, 0, 0) -7.355%, rgb(0, 9, 21) 100%), url(../img/sp2077.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        max-width: 750px;
        padding-top: 217px;
    }

    &__text {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        max-width: 480px;
        margin-top: 32px;
    }
}

.keywords {
    font-weight: 700;
}

.buttons {
    width: 235px;
    height: 49px;
    border-radius: 30px;
    background: rgb(156, 3, 50);
    margin-top: 44px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    cursor: url(../img/cursor.svg), auto;

    &:hover {
        background: rgb(235, 68, 63);
    }
}

.games {
    &__box {
        background: rgb(0, 9, 21);
        display: flex;
        gap: 30px;
        justify-content: center;
        padding-block: 128px;
        box-sizing: border-box;
        flex-wrap: wrap;
    }


    &__link {
        display: flex;
        width: 379px;
        height: 300px;
        border-radius: 16px;
        align-items: flex-end;

        &:hover {
            outline: 3px solid rgb(68, 210, 255);
        }

        &_one {
            background: linear-gradient(180.00deg, rgba(39, 1, 15, 0), rgb(0, 25, 68) 100%), url(../img/game1.jpeg);
            position: relative;
        }

        &_two {
            background: linear-gradient(180.00deg, rgba(39, 1, 15, 0), rgb(0, 25, 68) 100%), url(../img/game2.jpeg);
            position: relative;
        }

        &_three {
            background: linear-gradient(180.00deg, rgba(39, 1, 15, 0), rgb(0, 25, 68) 100%), url(../img/game3.jpeg);
            position: relative;
        }
    }


    &__card-text {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        position: absolute;
        left: 32px;
        bottom: 32px;
    }

    &__content {
        background: rgb(0, 9, 21);
        display: flex;
        padding-block: 282px;
        box-sizing: border-box;
        flex-wrap: wrap;
        row-gap: 44px;
        justify-content: space-between;
        align-items: center;
    }

    &__description {
        display: flex;
        flex-direction: column;
    }

    &__title {
        color: rgb(255, 255, 255);
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0px;
        text-align: left;
        max-width: 750px;
    }

    &__text {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        max-width: 584px;
        padding-top: 32px;
    }

    &__img {
        width: 485px;
        height: 333px;
    }

}

.puzzles {
    &__content {
        background-image: linear-gradient(180.00deg, rgba(0, 0, 0, 0) -7.355%, rgb(0, 9, 21) 100%), url(../img/unsplashiO0I6-mhDEY.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-block: 276px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_title {
        text-align: center;
    }

    &_text {
        text-align: center;
        max-width: 1200px;
    }
}

.footer {

    background-color: rgb(0, 9, 21);

    &__content {
        display: flex;
        justify-content: center
    }

    &__text {
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        margin-block: 32px;
    }

}

@import 'mobile';
@import 'tablet';